* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #1B1A17;
  font-family: "Roboto";
}

@font-face {
  font-family: "Roboto";
  src: url(../assets/fonts/Roboto-Medium.ttf);
}
@font-face {
  font-family: "Inter";
  src: url(../assets/fonts/Inter_24pt-Medium.ttf);
}
button {
  -webkit-transition: -webkit-transform 0.9s ease;
  transition: -webkit-transform 0.9s ease;
  transition: transform 0.9s ease;
  transition: transform 0.9s ease, -webkit-transform 0.9s ease;
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
}

button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0 10px rgb(238, 125, 39);
          box-shadow: 0 0 10px rgb(238, 125, 39);
}

button:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.task-container {
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.task-container:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.6);
}

.share-container img {
  -webkit-transition: -webkit-transform 0.9s ease;
  transition: -webkit-transform 0.9s ease;
  transition: transform 0.9s ease;
  transition: transform 0.9s ease, -webkit-transform 0.9s ease;
}

.share-container img:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}