.tools-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 8px;
    gap: 8px;

    button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 36px;
        height: 36px;
        border: 1px solid #FF8303;
        border-radius: 6px;
        background-color: #242320;
        cursor: pointer;
    }
}